.console {
    height: 90vh;
    max-height: 650px;
    width: 100vw;
    min-width: 300px;
    max-width: 450px;
    margin: 0;
    display: flex;
    transition: all 500ms;
    transform-style: preserve-3d;
    perspective: 1000px !important;
}

.console-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 800ms;
    transform-style: preserve-3d;
}

.console-inner.flip {
    transform: rotateY(180deg);
  }


.console-front, .console-back {
    border-radius: 6px 6px 6px 80px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: var(--primary-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.console-front {
    box-shadow: inset 130px -50px 0px 20px var(--secondary-color);
    border: 10px solid #000;
    padding: .8rem .5rem .7rem;
}

.console-back {
    transform: rotateY(180deg);
    border-radius: 6px 6px 80px 6px;
    border: 10px solid transparent;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
    filter: hue-rotate(0);
    box-shadow: inset 10px 10px 100px  rgba(0, 0, 0, 0.514);
    animation: colorHue 15s ease-in-out infinite alternate-reverse;
}

@keyframes colorHue{
    from {
        filter: hue-rotate(0);
    }
    to {
        filter: hue-rotate(320deg);
    }
}

.console-back #help {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    transform: translateY(-50px);
}

.console-back #help div {
    display: flex;
    justify-content: space-between;
}

.console-back #help h4 {
    font-size: 1rem;
    margin-bottom: 24px;
    text-align: center;
}

.console-back #help .help_keyboard {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    align-items: center;
}

.console-back #help img {
    height: 60px;
    margin-bottom: 12px;
    transition: transform 400ms;
}

.console-back #help img + p {
    font-size: .7rem;
    transition: transform 400ms;
    transform: scale(.9);

}

.console-back #help img:hover {
    transform: scale(.9);
}

.console-back #help img:hover + p {
    transform: scale(1);
}

.console-back #bio {
    font-family: 'Russo One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(104, 13, 13, 0.219);
    height: 300px;
    width: 700px;
    position: absolute;
    bottom: -40px;
    left: -110px;
    right: 0;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.459);
    transform: rotate(-10deg) translateY(170px) translateX(-15px);
    transition: transform 400ms;
}

.console-back #bio:hover {
    transform: rotate(-10deg) translateY(60px) translateX(-15px);
}

.console-back #bio div {
    transform: rotate(10deg) translateY(-40px);
}

.console-back #bio .bio_redes {
    display: flex;
    margin-left: 12px;
    transform: rotate(10deg) translateY(0px);
}

.console-back #bio h5 {
    font-size: 1.2rem;
}

.console-back #bio h6 {
    font-size: .72rem;
}

.console-back #bio img {
    width: 50px;
    margin-right: 8px;
    transition: transform 400ms;
}

.console-back #bio img:hover {
    transform: scale(1.3);
} 

/*** Small devices ***/
@media only screen and (min-width: 375px){
    /* .console-front, .console-back  {
    } */

    .console-front {
        box-shadow: inset 170px -30px 0px 20px var(--secondary-color);
        border: 12px solid #000;
        padding: .8rem 1rem 1.5rem; 

        
    }

    .console-back {
        border: 12px solid #000;
    }

}

/*** Medium devices ***/
@media only screen and (min-width: 768px) {
    .console {
        width: 450px;
        height: 700px;
    }

    /* .console-front, .console-back {
    } */

    .console-front {
        padding: .8rem 1rem 2rem;

        box-shadow: inset 200px -30px 0px 20px var(--secondary-color),
                            0px 0px 50px -5px rgba(255, 255, 255, 0.3);
    }

}

/*** Extra large devices ***/
@media only screen and (min-width: 1200px) {
    .console {
        width: 480px;
        max-width: 480px;
        height: 750px;
        max-height: 750px;
    }

    .console-front {
        box-shadow: inset 220px -30px 0px 20px var(--secondary-color),
                          0px 0px 50px -5px rgba(255, 255, 255, 0.3);
    }

    .console-back {
        background-color: var(--secondary-color);
    }
}
