:root {
    --theme-default-primary-color: ;
    --theme-default-secondary-color: ;
    --theme-default-tertiary-color: ;
    --theme-night-primary-color: ;
    --theme-night-secondary-color: ;
    --theme-night-tertiary-color: ;    
    --theme--ferrari-primary-color: ;
    --theme-ferrari-secondary-color: ;
    --theme-ferrari-tertiary-color: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(68, 68, 68);
    position: relative;
}

body::before {
    content: "";
    width: 50vmin;
    height: 50vmin;
    background: url(../assets/pixel-cat.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50vh;
    left: 22%;
    transform: rotate(-20deg) translateY(-20%);
    z-index: -1;
    opacity: .1;
}

body::after {
    content: "";
    width: 50vmin;
    height: 50vmin;
    background: url(../assets/pixel-cat.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 18%;
    right: 22%;
    transform: rotate(20deg) translateY(-20%);
    z-index: -1;
    opacity: .1;
}
.container {
    width: 100vw;
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

/*** Extra large devices ***/
@media only screen and (min-width: 1200px) { 
    body {
        overflow: hidden;
    }
}